*.dSYM
*_test
/v
/vprod
/v.c
/v.*.c
/v.c.out
/v.exe
/tools/vget
/tools/vget.exe
/tools/performance_compare
/tools/performance_compare.exe
*.exe
*.o
.*.c
*.tmp.c
vjs
*.obj

*.pdb

.DS_Store
._*
.vrepl_temp.v

.vscode
